# Основные библиотеки для работы с видео
# ВАЖНО: версии opencv-python и opencv-contrib-python должны совпадать!
opencv-python==4.8.0.74
opencv-contrib-python==4.8.0.74

# Для работы с видеопотоками и камерами
imutils==0.5.4

# Для обработки и анализа видео
numpy==1.26.4
scipy==1.13.1

# Для работы с потоками и асинхронностью
python-socketio==5.11.4
aiohttp==3.10.0

# Для сохранения и конвертации видео
imageio==2.34.2
imageio-ffmpeg==0.5.1
moviepy==1.0.3

# Для визуализации и GUI
matplotlib==3.9.0